// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
@import './variables/helper';

@mixin common-css($theme

/*, /*$devDarkTheme*/
) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
  $warn: map-get($theme, warn);
  $outer: mat-color($primary, 400);
  $outer-light: mat-color($primary, 300);

  .bg {
    &-accent {
      background: mat-color($accent);
      color: set-text-color(mat-color($accent));
    }
  }

}

.inner-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 128px;
  background-color: lightgray;

  &.xs {
    top: 112px !important;
  }
}

.flex-full {
  width: 100% !important;
}

.cursor {
  &-pointer {
    cursor: pointer !important;
  }
}
