// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './extra.function';
@import './size-data.functions.scss';
@import './variables/colors.scss';
@import './variables/font.manager';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-primary-primary: mat-palette($mat-blue-grey, 800);
$project-primary-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-primary-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$project-primary-theme: mat-light-theme($project-primary-primary, $project-primary-accent, $project-primary-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-primary-theme);

@include common-css($project-primary-theme /*, $dark-theme*/);
@include setMatColors($project-primary-theme);
