$no: 0px;
$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xl: 25px;
$xs-: -1*$xs;
$sm-: -1*$sm;
$md-: -1*$md;
$lg-: -1*$lg;
$xl-: -1*$xl;

$listVariable: $no $xs $sm $md $lg $xl $xs- $sm- $md- $lg- $xl-;
$listName: no xs sm md lg xl xs- sm- md- lg- xl-;
$listProperty: margin padding;

@each $property in $listProperty {
	@each $item in $listName {
		.#{$property}-#{$item} {
			$thisItem: index($listName, $item);
			$varItem: nth($listVariable, $thisItem);
			#{$property}: $varItem;
			&-t {
				#{$property}-top: $varItem !important;
			}
			&-r {
				#{$property}-right: $varItem !important;
			}
			&-b {
				#{$property}-bottom: $varItem !important;
			}
			&-l {
				#{$property}-left: $varItem !important;
			}
			&-tb {
				#{$property}-top: $varItem !important;
				#{$property}-bottom: $varItem !important;
			}
			&-lr {
				#{$property}-left: $varItem !important;
				#{$property}-right: $varItem !important;
      }
      &-all {
				#{$property}-top: $varItem !important;
        #{$property}-bottom: $varItem !important;
        #{$property}-left: $varItem !important;
				#{$property}-right: $varItem !important;
			}
		}
	}
}

@each $prop in $listProperty {
	@for $i from -100 through 100 {
		.#{str-slice($prop, 0, 1)} {
			&-#{$i} {
				#{$prop}: #{$i+"px"} !important;
			}
			&-t-#{$i} {
				#{$prop}-top: #{$i+"px"} !important;
			}
			&-r-#{$i} {
				#{$prop}-right: #{$i+"px"} !important;
			}
			&-b-#{$i} {
				#{$prop}-bottom: #{$i+"px"} !important;
			}
			&-l-#{$i} {
				#{$prop}-left: #{$i+"px"} !important;
			}
			&-tb-#{$i} {
				#{$prop}-top: #{$i+"px"} !important;
				#{$prop}-bottom: #{$i+"px"} !important;
			}
			&-lr-#{$i} {
				#{$prop}-left: #{$i+"px"} !important;
				#{$prop}-right: #{$i+"px"} !important;
			}
		}
	}
}
