<div class="inner-content">
  <div [ngClass]="{'p-b-1em margin-10-lr':true}" fxFlex>
    <ng-container *ngIf="isLoading; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <app-loader></app-loader>
    </ng-template>
    <ng-template #elseTemplate>
      <div fxLayout="row" class="flex-full margin-10-t margin-10-l" *ngIf="!selectedIcon?.name && !isSmallDevice" fxFlex="50" fxFlex.gt-sm="30"
        [@enterAnimation]>
        <div fxLayout="row" fxLayoutAlign="start" class="flex-full">
          <mat-card class="details-card" fxFlex="100">
            <mat-card-content>
              <mat-nav-list>
                <mat-list-item (click)="selectedList(list)" [ngClass]="{'col-gradient': true,  'always': list != selectedIconList, 'selected': list == selectedIconList }"
                  *ngFor="let list of iconsList">
                  <h1 matLine class="f weight-500 size-20">{{list.name}}</h1>
                  <p matLine class="f weight-300 size-14">{{list.desc}}</p>
                  <p matLine class="f weight-300 size-12">{{'ICONS.ICONS_LIST.GROUP.BY' | translate:lang}} <strong>{{list.author}}</strong></p>
                  <button mat-icon-button>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" class="flex-full margin-10-t margin-10-l" *ngIf="selectedIcon?.name && !isSmallDevice" fxFlex="50" fxFlex.gt-sm="30"
        [@enterAnimation]>
        <div fxLayout="row" fxLayoutAlign="start" class="flex-full">
          <mat-card class="details-card" fxFlex="100">
            <mat-toolbar color="primary">
              <span class="f family-lato size-22 weight-400">{{selectedIcon?.name | uppercase}}</span>
            </mat-toolbar>
            <!-- <button mat-mini-fab color="accent" (click)="openBottomSheet()" class="fab-icon">
              <mat-icon>content_copy</mat-icon>
            </button> -->
            <mat-card-content>
              <mat-nav-list>
                <h3 mat-subheader>Icons and Usage</h3>
                <mat-list-item>
                  <mat-icon *ngIf="selectedIconList.for !== config['ICONS_NAME_FA']" color="primary" mat-list-icon>{{selectedIcon.ligature}}</mat-icon>
                  <span  *ngIf="selectedIconList.for === config['ICONS_NAME_FA']" [innerHTML]="getFAIcon(selectedIcon)" mat-list-icon></span>
                  <h4 mat-line>{{copyMatForModernBrowser}}</h4>
                  <p mat-line> For modern browsers </p>
                  <button mat-icon-button (click)="copyMessage(copyMatForModernBrowser)" matTooltip="{{'APP.COPY.TEXT' | translate:lang}}" matTooltipPosition="above">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon *ngIf="selectedIconList.for !== config['ICONS_NAME_FA']" color="primary" mat-list-icon>{{selectedIcon.ligature}}</mat-icon>
                  <span  *ngIf="selectedIconList.for === config['ICONS_NAME_FA']" [innerHTML]="getFAIcon(selectedIcon)" mat-list-icon></span>
                  <h4 mat-line>{{copyMatForOlderBrowser}}</h4>
                  <p mat-line> For older browsers </p>
                  <button mat-icon-button (click)="copyMessage(copyMatForModernBrowser)" matTooltip="{{'APP.COPY.TEXT' | translate:lang}}" matTooltipPosition="above">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon *ngIf="selectedIconList.for !== config['ICONS_NAME_FA']" color="primary" mat-list-icon>{{selectedIcon.ligature}}</mat-icon>
                  <span  *ngIf="selectedIconList.for === config['ICONS_NAME_FA']" [innerHTML]="getFAIcon(selectedIcon)" mat-list-icon></span>
                  <h4 mat-line><strong>{{selectedIcon.ligature}}</strong></h4>
                  <p mat-line> Only Icon name </p>
                  <button mat-icon-button (click)="copyMessage(selectedIcon.ligature)" matTooltip="{{'APP.COPY.TEXT' | translate:lang}}" matTooltipPosition="above">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Assets</h3>
                <mat-list-item *ngIf="selectedIconList.for !== config['ICONS_NAME_FA']">
                  <mat-icon mat-list-icon>note</mat-icon>
                  <h4 mat-line>Download .svg file</h4>
                  <p mat-line>svg are best for responsiveness</p>
                  <button mat-icon-button (click)="downloadFile(selectedIcon.ligature)" matTooltip="{{'APP.DOWNLOAD.SVG' | translate:lang}}" matTooltipPosition="above">
                      <mat-icon>file_download</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" class="flex-full under-div margin-15-l" fxFlex>
        <ng-container *ngIf="iconsLoading; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <mat-progress-bar class="progress-bar margin-50-lr" color="accent" mode="query"></mat-progress-bar>
        </ng-template>
        <ng-template #elseTemplate>
          <div fxLayout="row" fxLayoutAlign="center center" class="flex-full">
              <mat-form-field fxFlex="90" class="makeCenter" [floatLabel]="'never'">
                  <input matInput type="text" placeholder="Search" [(ngModel)]="searchVal">
                  <button mat-button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="searchVal = ''">
                    <mat-icon>close</mat-icon>
                  </button>
                  <span matSuffix (click)="getVoiceInput()">
                    <mat-icon>keyboard_voice</mat-icon>
                  </span>
                </mat-form-field>
                <button matTooltip="Select Different Icons" matTooltipPosition="left" mat-icon-button *ngIf="isSmallDevice" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let list of iconsList" (click)="selectedList(list)">
                      <span>{{list.name}}</span>
                    </button>
                </mat-menu>
          </div>
          <div *ngIf="selectedIconList.for === config['ICONS_NAME_MATERIAL']" class="flex-full">
            <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let cat of icons;" class="flex-full" style="margin: 0 15;">
              <span *ngIf="cat?.icons.length > 0"  class="f family-lato weight-500 size-22 flex-full margin-15-t  margin-30-b" fxLayout="row" fxLayoutAlign="center" fxFlex>{{cat.name
                | uppercase}}</span>
              <mat-divider></mat-divider>
              <div fxLayout="row" class="under-div">
                <div [ngClass]="{'icon-pack__icon margin-5': true, 'bg-accent': ico == selectedIcon }" [matTooltip]="ico.ligature" matTooltipPosition="above"
                  *ngFor="let ico of cat?.icons | search:'keywords':searchVal; let i=index" (click)="selectIcon(ico)" [@listAnimation]="cat?.icons?.length">
                  <i class="material-icons">{{ico.ligature}}</i>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedIconList.for === config['ICONS_NAME_MDI']">
            <!-- <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let cat of icons;" class="flex-full" style="margin: 0 15;">
                <span class="f family-lato weight-500 size-22 flex-full margin-30-tb" fxLayout="row" fxLayoutAlign="center" fxFlex>{{cat.name
                  | uppercase}}</span>
                <mat-divider></mat-divider>
                <div fxLayout="row" class="under-div">
                  <div [ngClass]="{'icon-pack__icon margin-5': true, 'bg-accent': ico == selectedIcon }" [matTooltip]="ico.ligature" matTooltipPosition="above"
                    *ngFor="let ico of cat?.icons; let i=index" (click)="selectIcon(ico)" [@listAnimation]="cat?.icons?.length">
                    <i class="material-icons">{{ico.ligature}}</i>
                  </div>
                </div>
              </div> -->
            Work in Progress
          </div>
          <div *ngIf="selectedIconList.for === config['ICONS_NAME_FA']">
            <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let cat of icons;" class="flex-full" style="margin: 0 15;">
              <span *ngIf="cat?.icons.length > 0"  class="f family-lato weight-500 size-22 flex-full margin-30-tb" fxLayout="row" fxLayoutAlign="center" fxFlex>{{cat.name
                | uppercase}}</span>
              <mat-divider></mat-divider>
              <div fxLayout="row" class="under-div">
                <div [ngClass]="{'icon-pack__icon margin-5': true, 'bg-accent': ico == selectedIcon }" [matTooltip]="ico.ligature" matTooltipPosition="above"
                  *ngFor="let ico of cat?.icons  | search:'keywords':searchVal; let i=index" (click)="selectIcon(ico)" [@listAnimation]="cat?.icons?.length">
                  <span><i class="fa {{ico.ligature}}" aria-hidden="true"></i></span>
                  <!-- <i class="material-icons">{{ico.ligature}}</i> -->
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>