<div class="inner-content">
  <div [ngClass]="{'p-b-1em margin-10-lr':true}" fxFlex>
    <ng-container *ngIf="isLoading; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <app-loader></app-loader>
    </ng-template>
    <ng-template #elseTemplate>
      <div fxLayout="row" class="flex-full margin-10-t margin-10-l" *ngIf="!selectedIcon?.name && !isSmallDevice" fxFlex="50" fxFlex.gt-sm="30"
        [@enterAnimation]>
        <div fxLayout="row" fxLayoutAlign="start" class="flex-full">
          <mat-card class="details-card" fxFlex="100">
            <mat-card-content>
              <mat-nav-list>
                <mat-list-item (click)="selectedList(list)" [ngClass]="{'col-gradient': true,  'always': list != selectedIconList, 'selected': list == selectedIconList }"
                  *ngFor="let list of iconsList">
                  <h1 matLine class="f weight-500 size-20">{{list.name}}</h1>
                  <p matLine class="f weight-300 size-14">{{list.desc}}</p>
                  <p matLine class="f weight-300 size-12">{{'ICONS.ICONS_LIST.GROUP.BY' | translate:lang}} <strong>{{list.author}}</strong></p>
                  <button mat-icon-button>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" class="flex-full margin-10-t margin-10-l" *ngIf="selectedIcon?.name && !isSmallDevice" fxFlex="50" fxFlex.gt-sm="30"
        [@enterAnimation]>
        <div fxLayout="row" fxLayoutAlign="start" class="flex-full">
          <mat-card class="details-card" fxFlex="100">
            <mat-toolbar color="primary">
              <span class="f family-lato size-22 weight-400">{{selectedIcon?.name | uppercase}}</span>
            </mat-toolbar>
            <button mat-mini-fab color="accent" (click)="openBottomSheet()" class="fab-icon">
              <mat-icon>content_copy</mat-icon>
            </button>
            <mat-card-content>
              Working in progress......
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row" class="flex-full under-div margin-15-l" fxFlex>
        <ng-container *ngIf="iconsLoading; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>

        </ng-template>
        <ng-template #elseTemplate>
          <div fxLayout="column" fxLayoutAlign="center start" *ngFor="let icon of icons;" class="flex-full" style="margin: 0 15;">
            <span class="f family-lato weight-500 size-22 flex-full margin-30-tb" fxLayout="row" fxLayoutAlign="center" fxFlex>{{icon.name
              | uppercase}}</span>
            <mat-divider></mat-divider>
            <div fxLayout="row" class="under-div">
              <div [ngClass]="{'icon-pack__icon margin-5': true, 'bg-accent': ico == selectedIcon }" [matTooltip]="ico.ligature" matTooltipPosition="above"
                *ngFor="let ico of icon?.icons; let i=index" (click)="selectIcon(ico)" [@listAnimation]="icon?.icons?.length">
                <i class="material-icons">{{ico.ligature}}</i>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>