@import 'helper.scss';

.bg-red {
  background-color: #F44336 !important;
  color: #fff;
}

.bg-red .content .text,
.bg-red .content .number {
  color: #fff !important;
}

.bg-pink {
  background-color: #E91E63 !important;
  color: #fff;
}

.bg-pink .content .text,
.bg-pink .content .number {
  color: #fff !important;
}

.bg-purple {
  background-color: #9C27B0 !important;
  color: #fff;
}

.bg-purple .content .text,
.bg-purple .content .number {
  color: #fff !important;
}

.bg-deep-purple {
  background-color: #673AB7 !important;
  color: #fff;
}

.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
  color: #fff !important;
}

.bg-indigo {
  background-color: #3F51B5 !important;
  color: #fff;
}

.bg-indigo .content .text,
.bg-indigo .content .number {
  color: #fff !important;
}

.bg-blue {
  background-color: #2196F3 !important;
  color: #fff;
}

.bg-blue .content .text,
.bg-blue .content .number {
  color: #fff !important;
}

.bg-light-blue {
  background-color: #03A9F4 !important;
  color: #fff;
}

.bg-light-blue .content .text,
.bg-light-blue .content .number {
  color: #fff !important;
}

.bg-cyan {
  background-color: #00BCD4 !important;
  color: #fff;
}

.bg-cyan .content .text,
.bg-cyan .content .number {
  color: #fff !important;
}

.bg-teal {
  background-color: #009688 !important;
  color: #fff;
}

.bg-teal .content .text,
.bg-teal .content .number {
  color: #fff !important;
}

.bg-green {
  background-color: #4CAF50 !important;
  color: #fff;
}

.bg-green .content .text,
.bg-green .content .number {
  color: #fff !important;
}

.bg-light-green {
  background-color: #8BC34A !important;
  color: #fff;
}

.bg-light-green .content .text,
.bg-light-green .content .number {
  color: #fff !important;
}

.bg-lime {
  background-color: #CDDC39 !important;
  color: #fff;
}

.bg-lime .content .text,
.bg-lime .content .number {
  color: #fff !important;
}

.bg-yellow {
  background-color: #ffe821 !important;
  color: #fff;
}

.bg-yellow .content .text,
.bg-yellow .content .number {
  color: #fff !important;
}

.bg-amber {
  background-color: #FFC107 !important;
  color: #fff;
}

.bg-amber .content .text,
.bg-amber .content .number {
  color: #fff !important;
}

.bg-orange {
  background-color: #FF9800 !important;
  color: #fff;
}

.bg-orange .content .text,
.bg-orange .content .number {
  color: #fff !important;
}

.bg-deep-orange {
  background-color: #FF5722 !important;
  color: #fff;
}

.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
  color: #fff !important;
}

.bg-brown {
  background-color: #795548 !important;
  color: #fff;
}

.bg-brown .content .text,
.bg-brown .content .number {
  color: #fff !important;
}

.bg-grey {
  background-color: #9E9E9E !important;
  color: #fff;
}

.bg-grey .content .text,
.bg-grey .content .number {
  color: #fff !important;
}

.bg-blue-grey {
  background-color: #607D8B !important;
  color: #fff;
}

.bg-blue-grey .content .text,
.bg-blue-grey .content .number {
  color: #fff !important;
}

.bg-black {
  background-color: #000000 !important;
  color: #fff;
}

.bg-black .content .text,
.bg-black .content .number {
  color: #fff !important;
}

.bg-white {
  background-color: #ffffff !important;
  color: #fff;
}

.bg-white .content .text,
.bg-white .content .number {
  color: #fff !important;
}

.col-red {
  color: #F44336 !important;
}

.col-pink {
  color: #E91E63 !important;
}

.col-purple {
  color: #9C27B0 !important;
}

.col-deep-purple {
  color: #673AB7 !important;
}

.col-indigo {
  color: #3F51B5 !important;
}

.col-blue {
  color: #2196F3 !important;
}

.col-light-blue {
  color: #03A9F4 !important;
}

.col-cyan {
  color: #00BCD4 !important;
}

.col-teal {
  color: #009688 !important;
}

.col-green {
  color: #4CAF50 !important;
}

.col-light-green {
  color: #8BC34A !important;
}

.col-lime {
  color: #CDDC39 !important;
}

.col-yellow {
  color: #ffe821 !important;
}

.col-amber {
  color: #FFC107 !important;
}

.col-orange {
  color: #FF9800 !important;
}

.col-deep-orange {
  color: #FF5722 !important;
}

.col-brown {
  color: #795548 !important;
}

.col-grey {
  color: #9E9E9E !important;
}

.col-blue-grey {
  color: #607D8B !important;
}

.col-black {
  color: #000000 !important;
}

.col-white {
  color: #ffffff !important;
}

.bg {
  &-red {
    &-gradient {
      background: gradient(#F44336, #D32F2F);
      color: gradient-color(#F44336);
    }
  }

  &-teal {
    &-gradient {
      background: gradient(#009688, #00796B);
      color: gradient-color(#009688);
    }
  }

  &-light-blue {
    &-gradient {
      background: gradient(#E3F2FD, #90CAF9);
      color: gradient-color(#90CAF9);
    }
  }

  &-blue {
    &-gradient {
      background: gradient(#2196F3, #1976D2);
      color: gradient-color(#2196F3);
    }
  }

  &-green {
    &-gradient {
      background: gradient(#8BC34A, #689F38);
      color: gradient-color(#8BC34A);
    }
  }

  &-amber {
    &-gradient {
      background: gradient(#FFC107, #FFA000);
      color: gradient-color(#FFC107);
    }
  }
  &-indred {
    &-gradient {
      background: gradient(#7E57C2, #D32F2F);
      color: gradient-color(#D32F2F);
    }
  }
  &-blugen {
    &-gradient {
      background: gradient(#81D4FA, #2E7D32);
      color: gradient-color(#2E7D32);
    }
  }
  &-yelorg {
    &-gradient {
      background: gradient(#FFEE58, #EF6C00);
      color: gradient-color(#EF6C00);
    }
  }
  &-redpik {
    &-gradient {
      background: gradient(#EF9A9A, #9C27B0);
      color: gradient-color(#9C27B0);
    }
  }
}


// .grad {
//   &-red {
//     background: gradient(#EF5350, #B71C1C);
//     color: gradient-color(#B71C1C);
//     text-shadow: text-shadow(#EF5350);
//   }
// }

