<section class="error-container">
  <span>5</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>0</span>
</section>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="flex-full">
  <button mat-stroked-button color="primary" [routerLink]="['/dashboard']">Back to home</button>
</div>
