$spaceAmounts: (100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0);
$options: ("%", px, rem, vw, vh);

@each $space in $spaceAmounts {
  @each $option in $options {
    @if $option == 'vw' {
      .width-#{$space} {
        width: #{$space}#{$option} !important;
      }
    } @else if $option == 'vh'{
      .height-#{$space} {
        height: #{$space}#{$option} !important;
      }
    } @else {
      .width-#{$space} {
        width: #{$space}#{$option} !important;
      }

      .height-#{$space} {
        height: #{$space}#{$option} !important;
      }
    }
  }
}

$alignments: ("center", "space-between", "space-around", "space-evenly", "flex-start", "flex-end");

@each $align in $alignments {
  .justify-#{$align} {
    justify-content: #{$align};
  }

  .items-#{$align} {
    align-items: #{$align};
  }

  .justify-items-#{$align} {
    justify-items: #{$align};
  }

  .content-#{$align} {
    align-content: #{$align};
  }
}

$displayProps: ("block", "inline-block", "inline", "flex", "grid", "inline-flex", "inline-grid", "table", "inline-table", "list-item", "none", "contents");

@each $disp in $displayProps {
  .d-#{$disp} {
    display: #{$disp};
  }
}

$textAlignments: ("left", "right", "center", "revert");

@each $textAlign in $textAlignments {
  .text-#{$textAlign} {
    text-align: #{$textAlign};
  }
}
