<header>
  <app-loader></app-loader>
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <!-- <button mat-icon-button>
      <mat-icon svgIcon="menu"></mat-icon>
    </button> -->
    <span>{{dataHandler.projectName}}</span>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>

