// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin theme-colors($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
    
    .col {
        &-accent {
            color: mat-color($accent, A200) !important;
        }
        &-primary {
            color: mat-color($primary, 700) !important;
        }
    }
    .bg {
        &-accent {
            background-color: mat-color($accent, A200) !important;
        }
        &-primary {
            background-color: mat-color($primary, 700) !important;
        }
    }
    .col {
        &-white {
            color: #ffffff !important;
        }
    }

    .col-gradient {
        flex: 1 1 auto;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
     /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
      box-shadow: 0 0 20px #eee;
      &.always {
        color: mat-color($accent, 500);
        background-image: linear-gradient(to right, mat-color($primary, 600)  0%, mat-color($primary, 300) 51%, mat-color($primary, 600) 100%);
        &:hover {
            color: mat-color($primary, 700);
        }
      }
      &.selected{
        color: mat-color($primary, 700);
        background-image: linear-gradient(to right, mat-color($accent, 500) 0%, mat-color($accent, 300) 51%, mat-color($accent, 500) 100%);
        &:hover {
            color: mat-color($accent, 500);
        }
      }
    }
}