<mat-toolbar color="primary" class="">
  <button mat-icon-button (click)="goback()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span>Icons</span>
</mat-toolbar>
<div [ngClass.gt-xs]="{'inner-content icons-base': true}" [ngClass.xs]="{'inner-content icons-base xs': true}" class="">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" class="flex-full p-lr-10">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="flex-full">
        <form id="searchForm" [formGroup]="searchForm" (keyup)="searchEntered()" #form="ngForm" novalidate class="flex-full">
          <mat-form-field appearance="outline" class="flex-full">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="searchForm.controls['search']" name="search" type="search" aria-label="search">
            <mat-icon matPrefix>search</mat-icon>
            <div matSuffix fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
              <mat-icon (click)="$event.stopPropagation();voiceCommands()" color="primary" [ngClass]="{'cursor-pointer': true}">keyboard_voice</mat-icon>
              <mat-icon [matMenuTriggerFor]="iconMenu" (click)="$event.stopPropagation()" color="primary" [ngClass]="{'cursor-pointer': true}">more_vert</mat-icon>
            </div>
          </mat-form-field>
        </form>
        <mat-menu #iconMenu="matMenu">
          <button [ngClass]="{'bg-accent': selectedIconData.short_name === iconData.short_name}" mat-menu-item *ngFor="let iconData of availableIconsList; let i=index"
            [disabled]="iconData.disable" (click)="selectedIconsData(iconData)">
            <mat-icon [svgIcon]="iconData.icon" color="primary" [ngClass]="{'color-grey': iconData.disable}"></mat-icon>
            <span>{{iconData.name}}</span>
          </button>
        </mat-menu>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="flex-full">
        <ng-container *ngIf="!isServerQueryRunning; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <mat-accordion multi="true" *ngIf="iconsList?.length > 0" class="flex-full">
            <ng-container *ngFor="let icon of iconsList" class="flex-full">
              <mat-expansion-panel [@listAnimation]="iconsList?.length" *ngIf="icon.icons?.length > 0" class="flex-full">
                <mat-expansion-panel-header class="flex-full">
                  <mat-panel-title>
                    {{icon?.name | uppercase}}
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                  {{icon.name | uppercase}}
                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
                    <ng-container *ngFor="let ico of icon.icons">
                      <mat-icon class="mt-icon cursor-pointer" [appRandomColors]="['grad-red', 'grad-green', 'grad-orange', 'grad-purple', 'grad-blue']"
                        (click)="openBottomSheetForIcons(ico)">{{ico.ligature}}</mat-icon>
                      <!-- <mat-icon mat-font-icon="fa-icon" class="fa"></mat-icon> -->
                    </ng-container>
                  </div>
                </ng-template>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>
        </ng-template>
        <ng-template #elseTemplate>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="m-t-20">
            <mat-progress-spinner stroke="2" color="accent" mode="indeterminate"> </mat-progress-spinner>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
