@import 'src/app/shared/themes/variables/helper';

.mt-icon {
  float: left;
  width: $icon_size;
  height: $icon_size;
  margin: 5px;
  display: block;
  background: rgb(150, 150, 150);
  size: $icon_size / 2;
  font-size: $icon_size / 2;
  border-radius: 50%;
  // font-weight: bold;

  top: 0px;
  // color: rgba(255, 255, 255, 0.9);
  width: $icon_size;
  height: $icon_size;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: $icon_size / 3.6;
  // text-shadow: text-shadow(#1b7aa1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  // background: #26a9e0
  // &:after {
  //   top: 0px;
  //   color: rgba(255, 255, 255, 0.9);
  //   width: $icon_size;
  //   height: $icon_size;
  //   display: block;
  //   overflow: hidden;
  //   position: relative;
  //   text-align: center;
  //   padding-top: $icon_size / 3.6;
  //   text-shadow: text-shadow(rgb(100, 100, 100));
  //   -moz-box-sizing: border-box;
  //   -webkit-box-sizing: border-box;
  //   box-sizing: border-box;
  // }
  &.grad {
    &-red {
      background: #e53935 !important;
      color: rgba($color: #ffffff, $alpha: 0.9);
      text-shadow: text-shadow(#b71c1c);
    }
    &-green {
      background: #7cb342 !important;
      color: rgba($color: #ffffff, $alpha: 0.9);
      text-shadow: text-shadow(#33691e);
    }
    &-orange {
      background: #fb8c00 !important;
      color: rgba($color: #ffffff, $alpha: 0.9);
      text-shadow: text-shadow(#e65100);
    }
    &-purple {
      background: #5e35b1 !important;
      color: rgba($color: #ffffff, $alpha: 0.9);
      text-shadow: text-shadow(#311b92);
    }
    &-blue {
      background: #039be5 !important;
      color: rgba($color: #ffffff, $alpha: 0.9);
      text-shadow: text-shadow(#01579b);
    }
  }
}
