<div class="showbox heartBox" *ngIf="!loaderType" >
  <!-- <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div> -->
  
<div class="flex-container">
  <div class="unit">
    <div class="heart">
      <div class="heart-piece-0"></div>
      <div class="heart-piece-1"></div>
      <div class="heart-piece-2"></div>
      <div class="heart-piece-3"></div>
      <div class="heart-piece-4"></div>
      <div class="heart-piece-5"></div>
      <div class="heart-piece-6"></div>
      <div class="heart-piece-7"></div>
      <div class="heart-piece-8"></div>
    </div>
  </div>
</div>
</div>

<!-- <span class="load"></span> -->