// @import "~compass/css3";

.dashboard {
  & .card {
    padding: 0px !important;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;

    }

    &:hover:after {
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      -webkit-transition: all 0.6s ease-out;
      -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
      -o-transition: all 0.6s ease-out;
      transition: all 0.6s ease-out;
    }

    & .icons {
      width: 200px !important;
      height: 200px !important;
    }

    & .icons-xs {
      width: 80px !important;
      height: 80px !important;
    }
  }
}
