<mat-toolbar color="primary" class="">
  <span>DashBoard</span>
</mat-toolbar>
<div [ngClass.gt-xs]="{'inner-content dashboard': true}" [ngClass.xs]="{'inner-content dashboard xs': true}" class="">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" class="flex-full p-lr-10">
      <mat-card fxFlex.gt-sm="23" fxFlex.xs="95" fxFlex.sm="44" class="card m-l-10 m-tb-10" [appRandomColors]="[dashData.css]"
        *ngFor="let dashData of dashboardDataList; let i=index" (click)="gotoRoute(dashData)">
        <mat-card-content>
          <div fxLayout="row-reverse" fxLayout.gt-xs="column" fxLayoutAlign="center center" fxLayoutGap="5px">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <span class="matool-font family-julius size-45 weight-400 m-t-10">{{dashData.count}}</span>
              <span class="matool-font size-16 weight-400 m-t--5">{{dashData.name}}</span>
            </div>
            <mat-icon [ngClass]="{'icons': true}" [ngClass.xs]="{'icons-xs': true}" [svgIcon]="dashData.icon"></mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
