<mat-list>
  <h3 mat-subheader>Icon font</h3>
  <mat-list-item>
    <span class="icons-font-about" [innerHTML]="iconsFontInstruction"></span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Usage</h3>
  <ng-container *ngFor="let bUC of browserUsageCode; let last=last">
    <mat-list-item>
      <mat-icon mat-list-icon>{{bUC?.iconLigature}}</mat-icon>
      <h3 mat-line>{{bUC.htmlString}}</h3>
      <p mat-line>{{bUC.forBrowser}} </p>
      <button mat-icon-button (click)="copyMessageData(bUC)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </ng-container>
  <ng-container *ngIf="isAssetsAvailable;">
    <mat-divider></mat-divider>
    <h3 mat-subheader>Assets</h3>
    <!-- <mat-list-item *ngFor="let note of notes">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>{{note.name}}</h4>
          <p mat-line> {{note.updated | date}} </p>
        </mat-list-item> -->
  </ng-container>
</mat-list>
