<div class="inner-content">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="flex-full margin-10-t margin-10-lr">
    <div class="main">
      <h1>DEV<br>DESIGNER<br>TOOLS</h1>
      <p>{{'ABOUT.SUBTITLE.TEXT' | translate:lang}}</p>
    </div>
    <div class="main">
      <h2>{{'ABOUT.CHANGELOG.CAPTION' | translate:lang}}</h2>
    </div>
    <div class="timeline">
      <div class="column" *ngFor="let change of changlogList; let i=index">
        <div class="title">
          <h1> {{change.logDate | date:'mediumDate' | uppercase}} </h1>
          <h2> {{change.header.firstText}}: <br> {{change.header.secondText}}</h2>
        </div>
        <div class="description">
          <p>{{change.description}} </p>
        </div>
      </div>
    </div>
  </div>
</div>