<div class="inner-content">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="flex-full margin-10-t margin-10-lr">
    <div class="main">
      <h1>DEV<br>DESIGNER<br>TOOLS</h1>
      <p>{{'ABOUT.SUBTITLE.TEXT' | translate:lang}}</p>
    </div>
    <div class="main">
      <h2>{{'ABOUT.CHANGELOG.CAPTION' | translate:lang}}</h2>
    </div>
    <div class="timeline">
      <div class="column">
        <div class="title">
          <h1> 12.9.2018 </h1>
          <h2> CHANGED IN API: <br> WE USED JSONbin.IO </h2>
        </div>
        <div class="description">
          <p> Americký vynálezca v tomto roku prezentoval tunelový systém, v ktorom sa pomocou stlačeného vzduchu
            pohybovala transportná bunka valcovitého tvaru. Na dráhe premávala kyvadlovým spôsobom jedna transportná
            kapsula. Pohyb zabezpečoval pneumatický kompresor, ktorý v jednom smere kapsulu “vytláčal” a v druhom smere
            ”nasával”. Bola vybudovaná aj skúšobná dráha, ktorá istý čas fungovala ale projekt bol zamietnutý a v
            dôsledku krachu americkej burzy sa ho nepodarilo oživiť. </p>
        </div>
      </div>
    </div>
  </div>
</div>