<div class="inner-content">
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="flex-full margin-10-t margin-10-lr">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="flex-full margin-10-t">
      <!-- <mat-card *ngFor="let profile of [1, 2]; let i=index" class="flex-full" fxFlex="32%">
          <img mat-card-image class="card-img" src="https://lh3.googleusercontent.com/TWj2FZe3opwKv_yIiwI35afawOVFcykrmEyja-4qz_fjTHph39Si-xm32CGNeVN5x-seuWDvvclrNTbZDwcd5mNT9ARIOqq_OBy_2abYy5RC8sUHZmeYwJzRejotckR1sPkvp3QfnsOT3wxKSDSnLZLilm0Pz_eU7ZJO5fb-jiYRWvJWckD9jiVthRqLusWf_hVClKtsUKanmXNIqnpJM4frzwPdz_1a9SCSvty4cFodi6tEwlgLj6yrsTRRNYoNTp2e7Ktj1pPFqfwc6xh8jNh5LHB4HVqOXl7TBsjIGNmeq7BLC73_l8uEZ34apWhVPz1HPrrS7k0YSSgovPAitXX7luAgXbuWbs0g4uLXPB46hVL8zzUfappoQ3n2dv2PG4haEy-pKinhSuoOTxUcm56JbG4T-CN8lGoIdnY92TL4UyEiLjR_No7vRe27gqo6RZONW9JAetirJojfeBhcmlX-cydhN41l8I73q-52XQRrdaiSRg86MB1ZS0yBD91xckUT4PKcWdoy6dFh2WHL3VEhWg25EzeZOvhJ1ig5qTFbK6HaBTMfFzmd1doesCPuTHHk_EHz6Us4JzfXJOHUyjQFyj8WsQGf43BQkStFpQjfxxjn10BIKEHAvHyrbzT8=w508-h631-no" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card> -->
        WORK IN PROGRESS
    </div>
  </div>
</div>